@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MVPizza!</h1>
    <p>MVPizza is home of the world's Most Valuable Pizza, the Solid Gold Pizza! <a >Try one today!</a></p>
</div>
