
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form asp-action="Login" method="GET" class="form-inline">
    <label class="sr-only" for="search">Enter Username:</label>
    <input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="username" name="username" placeholder="Username" />
    <button type="submit" class="btn btn-primary">Login</button>
</form>

