@model PizzaStoreWeb.Models.OrderUI

@{
    ViewData["Title"] = "PlaceOrder";
}

<h1>PlaceOrder</h1>

<h4>OrderUI</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p>@Model.Customer.FirstName, please fill out your order below.</p>
        @foreach (PizzaUI zaa in Model.pizzas)
        {
            <p>@zaa.Size.ToString() with @zaa.ListOfIngrediants()</p>
        }
    </div>
    <a asp-action="AddPizza" asp-all-route-data="">Add a Pizza</a>
    <div class="col-md-4">
        <form asp-action="PlaceOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

