
@{
    ViewData["Title"] = "Admin";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <p>Manage <a asp-controller="Orders" asp-action="Index">Orders</a></p>
    <p>Manage <a asp-controller="Stores" asp-action="Index">Stores</a></p>
    <p>Manage <a asp-controller="Users" asp-action="Index">Users</a></p>
    <p>Manage <a asp-controller="Addresses" asp-action="Index">Addresses</a></p>
</div>
