@{
    ViewData["Title"] = "Index";
}

<div>
    <h1 class="display-4">Welcome to MVPizza!</h1>
    <form asp-action="Index" method="GET" class="form-inline">
        <label class="sr-only" for="search">Input Username:</label>
        <input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="username" name="username" placeholder="Username" />
        <p>
            <select id="action" name="action">
                <option value="o">New Order</option>
                <option value="n">Add Address</option>
            </select>
        </p>
        <button type="submit" class="btn btn-primary">Go!</button>
    </form>
    <p>
        No account? <a asp-action="NewCustomer">Create one now!</a>
    </p>
</div>
