@using MVPizza.DataAccess
@model User
@{
    ViewData["Title"] = "Index";
}

<div>
    <h1 class="display-4">Welcome to MVPizza!</h1>
    @if (!Model.Orders.Any())
    {
        <p>It looks like you've never placed an order with us before. Would you like to order a <a>Solid Gold Pizza?</a></p>
    }
    else
    {
        <p>
            Would you like to start with your <a>suggested order?</a>
        </p>
    }

    <p>
        <a asp-action="PlaceOrder"
           asp-all-route-data="@(new Dictionary<string, string> { { "username", Model.Username } })">
            Place an Order
        </a>
    </p>

    <p>
        <a asp-action="AddAddress"
           asp-all-route-data="@(new Dictionary<string, string> { {"username",  Model.Username} })">
            Add an Address
        </a>
    </p>

</div>
